html, body, #root {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.disassembly {
    height: 100%;
    overflow: scroll;
}

.left-column, .right-column {
    padding: 4px;
}

.left-column {
    background: #eee;
    padding: 0px;
    width: 255px;
}

.central-column {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-column {
    background: #eee;
    padding: 0px;
    width: 225px;
}

.monospaced {
    font-family: Menlo;
}
